@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
}

p {
  @apply leading-[1.6];
}

@tailwind variants;

.markdown > * {
  all: revert;
}
